body {
    margin: 0;
}
section.auto {
    width: 100%;
    text-align: right;
}

.text {
    text-align: right;
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    margin-right: 150px;

}

.text:last-child {
    border-right: none;
}

.p {
    text-align: right;
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    border-right: 2px solid#020101;
    text-decoration: underline 3px;
}

.p:last-child {
    border-right: none;
}
img {
    width: 15%;
    height: 200px;
}